/* Needed to remove all spacing around app, do not add styling here unless it is needed for global purposes, ie scrollbar specific font ect. There should be specific styled-component files for each component and page. */

* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
